@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple');

.app__navbar {
  width: 100%;
  box-shadow: 1px 1px 1px goldenrod;
}

.app__navbar--links :hover { color: goldenrod; }

.nav-booking { cursor: pointer; }

.app__navbar--login .nav-booking:hover {
  border-bottom: 3px solid goldenrod;
  margin-bottom: 20px;
}

.app__navbar--seperator {
  width: 1px;
  background-color: gainsboro;
}

.app__navbar--smallscreen_overlay {
  width: 100%;
  height: 100vh;
  background-color: black;
  transition: 0.5s ease;
  z-index: 5;
  font-family: var(--font-base);
}

.app__navbar--menu_btn {
  font-size: 1.5em;
  cursor: pointer;
}
